fastapi
fastapi-mcp
uvicorn[standard]
sqlalchemy
aiomysql
pymysql
python-dotenv
cryptography
greenlet
pydantic
pydantic[email]
email-validator
pytube
youtube_transcript_api
google-generativeai
httpx
passlib
python-jose[cryptography]
python-multipart
bcrypt